body {
  font-family: sans-serif;
  color: #ff704d;
}

h1 {
  padding: 10px 310px 10px 310px;
  font-weight: bold;
  text-decoration: overline underline;
}

.p1 {
  margin-left: 10px;
}

.sidebar {
  border: 3px dotted #ffc2b3;
  padding: 3px;
  margin: 0px 20px 1px 20px;
  width: 150px;
  float:right;
}

.heading {
  text-align: center;
  padding: 10px 0px 0px 0px;

}

.column {
  width: 200px;
  padding: 10px 10px 20px 10px;
  margin: 20px 10px 20px 10px;
  border: 3px dotted #ffc2b3;
  float: left;
  font-size: 15px;
}

.column2 {
  width: 200px;
  padding: 10px 10px 20px 10px;
  margin: 20px 10px 20px 10px;
  border: 3px dotted #ffc2b3;
  float: left;
  font-size: 15px;
}

.column h3 {
  font-size: 30px;
}

.column2 h3 {
  color: #ff3300;
  font-size: 30px;
}
